*{
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.title{
  margin: 10px 20px;
  margin-bottom: 4rem;
  font-size: 40px;
}

h2{
  font-size: 30px;
  margin: 10px 10px;
}

h3 {
  margin-top: 25px;
}
